<header class="header">

  <div class="titleName">
    <a routerLink="./dashboard">
      U2D
    </a>
  </div>

  <nav *ngIf="!isMobile" class="navbar">
    <ul>
      <li *ngFor="let menu of menuService.menu">
        <a [routerLink]="menu.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">{{ menu.label }}</a>
      </li>
    </ul>
  </nav>

  <div *ngIf="isMobile" #floatingMenu class="card flex justify-content-center">
    <p-menu #menu [model]="menuItems" [popup]="true" />
    <p-button [text]="true" severity="secondary" (onClick)="menu.toggle($event)" icon="pi pi-bars"/>
  </div>

</header>
