<header class="header">

  <div class="titleName">
    <a routerLink="./dashboard">
      U2D
    </a>
  </div>

  <nav class="navbar">
    <ul>
      <li class="">
        <a routerLink="./dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Dashboard</a>
      </li>
      <li class="">
        <a routerLink="./history" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">History</a>
      </li>
      <li class="">
        <a routerLink="./about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">About</a>
      </li>
    </ul>
  </nav>

</header>
