<footer class="footer">

  <div class="flex-container">
    <div class="rights">
      <p>&copy; 2024 Todos los derechos Reservados - Pablo 'U2D8Bits' Bolaños</p>
    </div>

    <div class="line">

    </div>

    <div class="socialMedias">
      <a href="https://www.instagram.com/u2d8bits" target="_blank">
        <i class="pi pi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/u2d8bits" target="_blank">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://www.github.com/u2d8bits" target="_blank">
        <i class="pi pi-github"></i>
      </a>
    </div>

  </div>

</footer>
