<footer class="footer">

  <div class="flex-container">
    <div class="rights">
      <p>&copy; 2024 All rights reserved - Pablo 'U2D8Bits' Bolaños</p>
    </div>

    <div class="line">

    </div>

    <div class="socialMedias">
      <a href="https://www.instagram.com/u2d.8bits/profilecard/?igsh=ZTFuMHRmc2pvc3cx" target="_blank">
        <i class="pi pi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/israelbolanos" target="_blank">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://github.com/U2D-8Bits" target="_blank">
        <i class="pi pi-github"></i>
      </a>
    </div>

  </div>

</footer>
